* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../images/antilope.JPG");
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
    background-position-y: 70%;
    background-size: cover;
    color: rgb(226,226,226);
}

.equipe {
    font-weight: bold;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-evenly;
    min-height: 20vh;
}

.groupe {
    display: flex;
    justify-content: space-evenly;
    /* min-height: 10vh; */
}

.texte {
    text-align: center;
    min-height: 5vh; 
    font-size: 150%;
    display: flex;
    justify-content: center;
}

.texte p {
    width: 60%;
}
