.formulaire div {
    line-height: 150%;
    color: rgb(226, 226, 226);
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}
.titre {
    color: rgb(226, 226, 226);
    background-image: url("../images/devis.png");
}
.bandeau {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5d4954;
    color: ivory;
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    min-height: 20vh;
    text-align: center;
}

.bandeau p {
    width: 70%;
}



.btn-auth{
    padding: 10px 20px;
    background: rgb(90, 80, 80);
    margin-top: -10px;
    text-transform: uppercase;
}
.btn-auth:hover{
    background-color: rgba(0,0,0,0.2);
    transition: ease-out;
}
.formulaire div label {
    cursor: pointer;
}

.formulaire div input {
    position: absolute;
    left: 50%;
}

.formulaire {
    /* width: 25%; */
    display: flex;
    justify-content: center;
}

.tableau {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}